.general {
    height: 400px;
    width: 300px;
}

img {
    float: left;
    margin: 10px 10px 10px 0;
    box-shadow: 15px -5px 50px black;
}

h1 {
    text-align: center;
    font-family: Impact;
}
.ex {
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
}
.lol {
    width: 250px;
}

.dr {
    margin-top: -425px;
    margin-left: 750px;
}
.ii{
    font-size: 19px;
}
.dd {
    animation-name: uuu;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 6s;
}
@keyframes uuu {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

body {
    background: #76a4d5;
}
#one{
   margin-left: 310px;
    margin-top: -500px;
    height:900px;
}